img{
	border:none;
	margin:10px;
	height:auto;
}
	
	
.tr {color:blue;
font-size:13pt;
font-style:italic;
font-family:verdana;
}

code {
 background-color: #f1f1f1;
}
dt {
	color:#ff0080;
}
form{
	background-color:#f1f1f1;
}
label{
	font-weight:bold;
}
.one,button,.three{
	background-color:blue;
	color:white;
}

.mytable{
	background-color:#ffee00;
}


